.addSectionLayout{
    margin: 0 auto;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}
.addSectionLayout:hover{
    opacity: 1;
}
.addSectionLayout::before, .addSectionLayout::after{
    content: "";
    display: block;
    height: 2px;
    flex: 1 1 auto;
    opacity: .5;
    background-color: #8300ff;
}
.addSectionLayout::before{
    margin-right: 10px;
}
.addSectionLayout::after{
    margin-left: 10px;
}

.addSectionForm{
    padding: 1rem 0rem;
}
.addSectionForm input{
    margin: 1rem 0rem;
}
.section{
    padding: 0rem 0rem 1.5rem 0rem;
}
.section > h4{
    padding: 0rem 0rem 0.5rem 0rem;
}
/* .section button{
    padding: 0rem;
} */
.section button:hover, .section button svg:hover{
    fill: #66439A;
}
.addTask{
    padding-top: 1rem;
    color: grey;
}
.taskContainer{
    display: flex;

    padding: 0.4rem 0rem 0.4rem 0.4rem;
    cursor: pointer;
    border-radius: 0.2rem;
    color: rgb(50, 50 ,50);
    font-weight: 300;
}
.taskContainer>div{
    width: 100%;
}
.taskContainer > span:first-child{
    flex: 8
}
.taskContainer > span:last-child{
    display: flex;
    visibility: hidden;
    flex: 1;
}
.taskContainer:hover > span:last-child {
    visibility: visible;
}
.taskActions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.editSubtext{
    color: rgb(176, 179, 184);
    cursor: pointer;
    font-size: 0.7rem;
}
.editSubtext>a{
    color: #007bff !important;
}
.taskName{
    cursor: text;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}