body, html, #root{
    width: 100%;
    height: 100%;
}
button{
    outline: none;
    border: none;
    background-color: white;
}
input{
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-decoration: none !important;
}
button::-moz-selection, a::-moz-selection {
    outline: none;
    text-decoration: none;
}
button:active, button::selection, button:visited, button:focus, button:focus-within, button:hover,
a:active, a::selection, a:visited, a:focus, a:focus-within{
    outline: none;
    text-decoration: none;
}
input[type=text]:active, input[type=text]:focus, input[type=text]:visited,  input[type=text]:hover,
input[type=password]:active, input[type=password]:focus, input[type=password]:visited,  input[type=password]:hover,
input:-internal-autofill-selected, input:-webkit-autofill {

    outline: none;
    border: none;
    background: #eee !important;
}
input[type = "text"], input[type = "password"] {
    border: none;
    border-radius: 4px;
    background: #eee;
    -webkit-box-shadow: inset 0px 0 0.2rem 0px grey;
            box-shadow: inset 0px 0 0.2rem 0px grey;
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
}
input, select {
    outline: none;
}
a{
    background-color: transparent !important;
}
a:hover {
    text-decoration: underline !important;
    
}
hr{
    margin: 0px !important;
    border-top: 1px solid rgba(0,0,0,.05);
}
.alert-link {
    font-weight: 700 !important;
    color: #040505 !important;
    cursor: pointer;
}
.commonBtn{
    background: rgb(125,85,185) !important;
    background: linear-gradient(90deg, rgba(125,85,185,1) 0%, rgba(127,86,189,1) 50%, rgba(125,85,185,1) 100%) !important;
}
.commonBtn:hover,.commonBtn:focus,.commonBtn:active{
}
.commonBtn:disabled{
}
#signInWrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
#signInWrapper > form{
    padding: 5rem 2rem;
    border: 0.2rem solid #aaa;
    border-radius: 0.5rem; 
}
.navBar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(99,65,150);
    background: linear-gradient(90deg, rgba(99,65,150,1) 0%, rgba(113,76,168,1) 50%, rgba(99,65,150,1) 100%);
    padding: 5px 0px;

}
.navBar a{
    /* background: #777; */
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #cbbde1;
    /* color: black; */
    padding: 0.5rem 0.6rem;
}
.navBar > #dashboardNav{
    font-weight: bold;
    color: #eee;
}
.navBar > #searchNav {
    -webkit-box-flex: 12;
        -ms-flex: 12;
            flex: 12
}
.navBar input {
    width: 100%;
    border: 1px #aaa solid;
    border-radius: 0.25rem;
}
.navBar > #logoutNav{
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    text-align: right;
}

.unhideELement{
    display: block;
}

.unhideFlexELement{
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
}
.spinnerWrapper{
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: rgba(139, 129, 155, 0.644); */
    position: absolute;
    text-align: center;

}
.spinnerCommon{
    color: #66439A;
    position: absolute;

    top: 50%;
    left: 50%;
}

/* Desktops and laptops ----------- */
@media only screen  
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen  
and (min-width : 1824px) {
/* Styles */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
    .contents-container a{
        display: none;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) 
and (max-width : 768px) {
/* Styles */

}
@media only screen 
and (min-width : 321px) 
and (max-width : 480px) {
/* Styles */
    .contents-container a{
        display: none;
    }
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
    .contents-container a{
        display: none;
    }

}
@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {
/* Styles */
    .contents-container a{
        display: none;
    }
    #signInWrapper{
        width: 70%;
    }

    #signInWrapper > form{    
        border: none;
    }
    .contents-container a{
        display: none;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
    .contents-container a{
        display: none;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
    .contents-container a{
        display: none;  
    }
    #signInWrapper{
        width: 60%;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
    #signInWrapper{
        width: 50%;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
    #signInWrapper{
        width: 50%;
    }
}
/**********
iPad 3
**********/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    #signInWrapper{
        width: 50%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* iPhone 5 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 50%;
    }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* iPhone X ----------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */

    #signInWrapper{
        width: 50%;
    }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 812px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* iPhone XS Max, XR ----------- */
@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 896px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 50%;
    }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 896px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
/* Styles */
    #signInWrapper{
        width: 100%;
    }

    #signInWrapper > form{    
        border: none;
    }
}